<!DOCTYPE html>
<html>
<head>
  <title>File Import Completed</title>
</head>
<body>
<h2>Hello <%= @file_import.user.full_name %>,</h2>
<p>Your file import <strong>##<%= @file_import.id %></strong> has been successfully processed.</p>
<p>All rows were imported without issues.</p>
<p>Thank you!</p>
</body>
</html>