<!DOCTYPE html>
<html>
<head>
  <title>File Import Failed</title>
</head>
<body>
<h2>Hello <%= @file_import.user.full_name %>,</h2>
<p>Unfortunately, your file import <strong>##<%= @file_import.id %></strong> encountered errors.</p>
<p>Please review the logs and try again.</p>
<p>Thank you.</p>
</body>
</html>